<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editando ? 'Edição de' : 'Nova' }} Moeda </h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" >
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="moeda.nome" #nome="ngModel"
          required>

        <app-message [control]="nome" error="required"
          text="Informe o nome.">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid" >
        <label>Sigla</label>
        <input pInputText type="text" name="sigla"
          [(ngModel)]="moeda.sigla" #sigla="ngModel"
          required maxlength="5">

        <app-message [control]="sigla" error="required"
          text="Informe a sigla.">
        </app-message>
        <app-message [control]="sigla" error="maxlength"
          text="Máximo de {{sigla.errors?.maxlength?.requiredLength}} caracteres permitidos.">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid" >
        <label>Simbolo</label>
        <input pInputText type="text" name="simbolo"
          [(ngModel)]="moeda.simbolo" #simbolo="ngModel"
          required>

        <app-message [control]="simbolo" error="required"
          text="Informe o simbolo.">
        </app-message>
      </div>

      <div class="ui-g-12" >
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="novo(f)"></button>
        <a routerLink="/moedas">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
