<p-dialog [header]="editando ? 'Edição de ' + labelCabecalho : 'Novo ' + labelCabecalho"
  *ngIf="vendaProduto" [contentStyle]="{'max-height': '590px', 'max-width': '1170px'}"
  modal="modal" [responsive]="true" [positionTop]="5"
  [(visible)]="exibindoFormularioVendaProduto" (onShow)="onShow($event)">

  <form #frmProduto="ngForm" autocomplete="off" (ngSubmit)="confirmarVendaProduto(frmProduto)">

    <p-tabView>

      <p-tabPanel header="Detalhe">

        <div class="ui-g">

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>{{ labelFornecedor }}</label>

            <p-dropdown name="fornecedor" [options]="fornecedores"
              placeholder="Selecione..." [autoWidth]="false"
              [filter]="true" [(ngModel)]="vendaProduto.fornecedor.codigo"
              #vendaProdutoFornecedor="ngModel" required>
            </p-dropdown>

            <app-message [control]="vendaProdutoFornecedor" error="required"
              text="Informe o fornecedor"></app-message>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>{{ labelDataInicial }}</label>

            <p-calendar name="dataInicio" dateFormat="dd/mm/yy"
              [inline]="false" [readonlyInput]="false" [showIcon]="true"
              [(ngModel)]="vendaProduto.dataInicio" required></p-calendar>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="exibirHoras">
            <label>{{ labelHoraInicial }}</label>

            <p-calendar name="horaInicio"
              [inline]="false" [readonlyInput]="false" [showIcon]="true"
              [timeOnly]="true" [(ngModel)]="vendaProduto.horaInicio"></p-calendar>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Representante</label>

            <p-dropdown name="representante" [options]="representantes"
              placeholder="Selecione..." [autoWidth]="false" [showClear]="true"
              [filter]="true" [(ngModel)]="vendaProduto.representante.codigo">
            </p-dropdown>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>{{ labelDataFinal }}</label>

            <p-calendar name="dataFim" dateFormat="dd/mm/yy"
              [inline]="false" [readonlyInput]="false" [showIcon]="true"
              [(ngModel)]="vendaProduto.dataFim" required></p-calendar>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="exibirHoras">
            <label>{{ labelHoraFinal }}</label>

            <p-calendar name="horaFim"
              [inline]="false" [readonlyInput]="false" [showIcon]="true"
              [timeOnly]="true" [(ngModel)]="vendaProduto.horaFim"></p-calendar>
          </div>


          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>{{ labelReserva }}</label>

            <input pInputText type="text" name="documento"
              [(ngModel)]="vendaProduto.documento"/>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="vendaProduto.produto === 'AC'">
            <label>Retirada</label>

            <input pInputText type="text" name="retirada"
              [(ngModel)]="vendaProduto.retirada"/>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="vendaProduto.produto === 'AC'">
            <label>Devolucao</label>

            <input pInputText type="text" name="devolucao"
              [(ngModel)]="vendaProduto.devolucao"/>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="vendaProduto.produto === 'AC'">
            <label>Categoria</label>

            <input pInputText type="text" name="categoria"
              [(ngModel)]="vendaProduto.categoria"/>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid"
            *ngIf="vendaProduto.produto === 'AC' || vendaProduto.produto === 'SV' || vendaProduto.produto === 'CI'">
            <label>Número NF</label>

            <input pInputText type="text" name="numeroNf"
              [(ngModel)]="vendaProduto.numeroNf"/>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid"
            *ngIf="vendaProduto.produto === 'AC' || vendaProduto.produto === 'SV' || vendaProduto.produto === 'CI'">
            <label>Número Externo</label>

            <input pInputText type="text" name="numeroExterno"
              [(ngModel)]="vendaProduto.numeroExterno"/>
          </div>

          <div class="ui-g-12 ui-md-4 ui-fluid"
            *ngIf="vendaProduto.produto === 'AC' || vendaProduto.produto === 'SV' || vendaProduto.produto === 'CI'">
            <label>Recibo Operadora</label>

            <input pInputText type="text" name="reciboOperadora"
              [(ngModel)]="vendaProduto.reciboOperadora"/>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid"
            *ngIf="vendaProduto.produto === 'VI' || vendaProduto.produto === 'SE' || vendaProduto.produto === 'IG'">
            <label>Número NF</label>

            <input pInputText type="text" name="numeroNf"
              [(ngModel)]="vendaProduto.numeroNf"/>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid"
            *ngIf="vendaProduto.produto === 'VI' || vendaProduto.produto === 'SE' || vendaProduto.produto === 'IG'">
            <label>Número Externo</label>

            <input pInputText type="text" name="numeroExterno"
              [(ngModel)]="vendaProduto.numeroExterno"/>
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid"
            *ngIf="vendaProduto.produto === 'VI' || vendaProduto.produto === 'SE' || vendaProduto.produto === 'IG'">
            <label>Recibo Operadora</label>

            <input pInputText type="text" name="reciboOperadora"
              [(ngModel)]="vendaProduto.reciboOperadora"/>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Serviços Inclusos</label>

            <textarea pInputTextarea rows="3" name="servicosInclusos"
              [(ngModel)]="vendaProduto.servicosInclusos"></textarea>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Observação</label>

            <textarea pInputTextarea rows="3" name="observacao"
              [(ngModel)]="vendaProduto.observacao"></textarea>
          </div>

        </div>

      </p-tabPanel>

      <p-tabPanel header="Passageiros">
        <app-venda-cadastro-produto-passageiro [passageiros]="vendaProduto.vendaProdutoPassageiro"
          (salvarPassageiro)="aoSalvarPassageiro()">
        </app-venda-cadastro-produto-passageiro>

        <app-venda-cadastro-produto-valores [valores]="vendaProduto.valoresVendaProduto">
        </app-venda-cadastro-produto-valores>
      </p-tabPanel>

      <div class="ui-g-12">
        <button pButton type="submit" label="Confirmar"
          [disabled]="frmProduto.invalid">
        </button>
      </div>

    </p-tabView>

  </form>

</p-dialog>
